@import "./variables";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 12rem;
  max-width: 100%;
  background-color: $main-background-color;
}

.copyright {
  display: flex;
  color: white;
  font-size: 2rem;
}

.github,
.linkedin {
  cursor: pointer;
  font-size: 4rem;
  color: white;
  margin-right: 0.5rem;
}

.disclaimer {
  color: white;
}

@media (max-width: 700px) {
  .copyright {
    font-size: 1.3rem;
  }
}

@media (max-width: 414px) {
  .copyright {
    font-size: 0.9rem;
  }
}
