@import "./variables";

.landing-page {
  min-height: 94vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}
.my-name {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $main-text-color;
}
.specilization {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  color: $main-text-color;
}

.technologies {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 6rem;
}

.technologies i {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 375px) {
  .my-name h1 {
    font-size: 4rem;
  }
  .specilization {
    font-size: 2.5rem;
  }
  .technologies {
    font-size: 3rem;
  }
}
