$main-text-color: white;
$secondary-text-color: #07242f;
$links-color: #07242f;
$main-background-color: #051622;

@mixin title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 5rem;
  color: $secondary-text-color;
}
